html {
  height: 100%;
}
body {
  font-family: Arial;
  height: 100%;
}

#root-container {
  position: relative;
}

#content-container {
  padding-bottom: 120px;
  min-height: 100%;
}

footer {
  color: grey;
  background: black;
  padding: 50px 0px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.title-heading {
  text-align: center;
  padding: 20px;
}

.section-content {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  text-indent: 40px;
}

.left-align {
  text-align: left;
}

#games-list {
  text-align: center;
}

.game-img {
  width: 300px;
  height: 300px;
}

.game-container {
  width: 300px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.game-description {
  text-align: left;
}

.game-title {
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  display: block;
  color: black;
}

.game-title:visited {
  text-decoration: none;
  color: inherit;
}
